{% extends 'base.html.twig' %}

{% block title %}Liste des Pages{% endblock %}

{% block body %}
    <h1>Liste des Pages</h1>

        {% for page in pages %}
            <ul>
                <li class="categories">
                    <h2><a href="{{ path('app_page_show',  {id:page.id}) }}">{{ page.name }}</a></h2>
            </ul>


        {% else %}
            <tr>
                <td colspan="3">Aucune page trouvée</td>
            </tr>
        {% endfor %}

{% endblock %}
