{% extends 'base.html.twig' %}

{% block title %}Liste des Pages{% endblock %}

{% block body %}
    <div class="page-index">
        <img src="{{ asset('build/images/background.png') }}" alt="background" class="background_img">
    <h1>Liste des Pages</h1>

        <div class="page-list">
            {% for page in pages %}

                    <h2><a href="{{ path('app_page_show',  {slugPage: page.slugPage}) }}"><div class="page-card">{{ page.name }}</div></a></h2>

            {% else %}
                <p>Aucune page trouvée</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
