{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle page{% endblock %}

{% block body %}
    <h1>Créer une nouvelle page</h1>

    {{ include('page/_form.html.twig') }}
{% endblock %}
