{% extends 'base.html.twig' %}

{% block title %}She Plays TV - Gestion Administrateur{% endblock %}

{% block body %}
<div class="page-index">
    <img src="{{ asset('build/images/background.png') }}" alt="background" class="background_img">
    <h1 class="sign">Le Coin de l'Administrateur</h1>

    <div class="page-list">
        <h2>
            <a href="{{ path('export_users') }}">
                <div class="page-card">

                     Liste des utilisateurs

                </div>
            </a>
        </h2>
        <h2>
            <a href="{{ path('admin') }}">
                <div class="page-card">

                    Gestion des pages

                </div>
            </a>
        </h2>
        <h2>
            <a href="{{ path('app_page_index') }}">
                <div class="page-card">
                    Accès aux pages
                </div>
            </a>
        </h2>
    </div>
    <div>
{% endblock %}
