{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include '_carousel.html.twig' %}
    <h2 class="home_title">
        <a href="{{ path('app_video') }}">Accéder aux vidéos</a>
    </h2>
{% endblock %}
