{% extends 'base.html.twig' %}

{% block title %}New PageSection{% endblock %}

{% block body %}
    <h1>Create new PageSection</h1>

    {{ include('page_section/_form.html.twig') }}

    <a href="{{ path('app_page_section_index') }}">back to list</a>
{% endblock %}
