{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="video_sous_ensemble">
            {% for video in videos %}
                <img src="{{ asset('build/images/' ~ video.image) }}" alt="{{ video.title }}" class="sous_ensemble_image" draggable="true">
            {% endfor %}
        </div>
    {% else %}
        <div class="video_sous_ensemble">
            {% for video in videos %}
                {% if video.isPublic %}
                    <img src="{{ asset('build/images/' ~ video.image) }}" alt="{{ video.title }}" class="sous_ensemble_image" draggable="false">
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
