{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class=".button_validate"><span>Add Video</span></button>
{{ form_end(form) }}
{% endblock %}