:root {
    --color-one: #04104e;
    --color-two: #9c5fd8;
    --color-three: #e639ab;
    --color-four: #4a90e2;
    --color-five: #ffffff;
    --color-one-hover: #02032c;
    --color-two-hover: #8a43c7;
    --color-three-hover: #d62b8d;
    --color-four-hover: #3f75c8;
    --color-five-hover: #e6e6e6;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    background-color: var(--color-one);
    color: var(--color-five);
}

.Sign{
    text-align: center;
    padding-top: 59px;
    margin-bottom: 84px;
}

.login {
    padding-top: 3%;
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login_label {
    text-align: left;
    font-size: 19px;
    height: 42px;
    margin-bottom: 45px;
    border-radius: 11px
}

.login-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-sign{
    width: 105px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 21px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 5px 5px;
    margin: auto;
    border: solid black 1px;
}

.Signs{
    text-align: center;
    padding-top: 59px;
    margin-bottom: 84px;
}

.register{
    padding-top: 1%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.register-form {
    font-size: 19px;
    height: 42px;
    border-radius: 11px;
    margin-bottom: 39px;
    display: flex;
    padding: 0 30px;
    width: 85%;
}

.btn-register {
    width: 105px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 21px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 5px 5px;
    margin: auto;
    border: solid black 1px;
}

h2>a {
    color: white;
}
h2.home_title {
    text-align: center;
}

.video_sous_ensemble {
    width: 90%;
    margin: 50px auto;
}
.sous_ensemble_image {
    width: 300px;
    height: 200px;
    margin: 20px;
}

/* carousel */
.image_carousel {
    width:600px;
    height:400px;
}
.slider {
    height: 100%;
}
.slider-1 {
    max-width: 600px;
    margin: 100px auto;
    overflow: hidden;
    display: flex;
}

.slider-1 .slider {
    animation: slider-1 50s infinite ease-in-out;
}
.slider-1 > div {
    background: var(--color-one);
    flex-shrink: 0;
    width: 100%;
    font-size: 45px;
    color: #f1f1f1;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
}

@keyframes slider-1 {
    0%,
    6% {
        transform: translateX(0);
    }
    10%,
    16% {
        transform: translateX(-100%);
    }
    20%,
    26% {
        transform: translateX(-200%);
    }
    30%,
    36% {
        transform: translateX(-300%);
    }
    40%,
    46% {
        transform: translateX(-400%);
    }
    50%,
    56% {
        transform: translateX(-500%);
    }
    60%,
    66% {
        transform: translateX(-600%);
    }
    70%,
    76% {
        transform: translateX(-700%);
    }
    80%,
    86% {
        transform: translateX(-800%);
    }
    90%,
    96% {
        transform: translateX(-900%);
    }
    100% {
        transform: translateX(-1000%);
    }
}
/* end carousel*/

/*navbar*/
.navbar {
    background-color: var(--color-five);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    padding-left: 15px;
    border-radius: 10%;
}

.menu-icon span {
    height: 5px;
    width: 30px;
    background-color: var(--color-one);
    margin: 5px 0;
}

.logo img {
    height: 80px;
    margin-left: 15px;
    border-radius: 10px;
}

.links {
    display: flex;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 10px;
}

.links a {
    color: var(--color-two);
    background-color: var(--color-five);
    text-decoration: none;
    padding: 8px;
}
.links>a:hover {
    color: var(--color-two-hover);
}

.search {
    display: flex;
    margin-right: 15px;
    width: 240px;
    padding: 10px;
    box-sizing: border-box;
}

.navbar_input_search {
    flex: 1;
    background-color: var(--color-two);
    color: var(--color-five);
    margin-right: 10px;
    padding: 6px;
    border: none;
    border-radius: 10px;
}

.navbar_button_search {
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    text-align: center;
    flex: 0;
    background: url(../images/balle_tennis.png) center center no-repeat;
    background-size: cover;
    color: var(--color-one);
    cursor: pointer;
    padding: 5px;
    border: none;
    opacity: 0.8;
}

.navbar_button_search:hover {
    opacity: 1;
}

.navbar_button_search span {
    display: inline-block;
    vertical-align: middle;
}

.button_validate {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    border: solid black 1px;
}

.button_validate>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}

.button_validate:hover {
    background-color: var(--color-four-hover);
}

.button_add {
    width: 300px;
    height: 65px;
    border-radius: 10px;
    background-color: var(--color-two);
    text-align: center;
    font-size: 20px;
    color: var(--color-five);
    cursor: pointer;
    padding: 5px 5px;
    border: solid black 1px;
    display: block;
    margin: auto;
    text-decoration: none;
}

.button_add:hover {
    background-color: var(--color-two-hover);
}

.button_add>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 23px;
    font-weight: bold;
}

.button_modify_page {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-three);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}

.button_modify_page>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}

.button_modify_page:hover {
    background-color: var(--color-three-hover);
}

.button_modify {
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}

.button_modify>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}
.button_modify:hover {
    background-color: var(--color-four-hover);
}

.button_upload {
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}

.button_upload>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}
.button_upload:hover {
    background-color: var(--color-four-hover);
}

.button_arrow_back {
    width: 150px;
    height: 40px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}

.button_arrow_back>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}
.button_arrow_back:hover {
    background-color: var(--color-four-hover);
}

.button_arrow_front {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-four);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}

.button_arrow_front>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}
.button_arrow_front:hover {
    background-color: var(--color-four-hover);
}

.button_plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-four);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}
.button_plus:hover {
    background-color: var(--color-four-hover);
}

.button_moins {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-three);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid black 1px;
}
.button_moins:hover {
    background-color: var(--color-three-hover);
}

.button_delete {
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-three);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: var(--color-five);
    cursor: pointer;
    margin: 10px;
    border: solid black 1px;
}

.button_delete>a {
    text-decoration: none;
    color: var(--color-five);
    font-size: 20px;
}
.button_delete:hover {
    background-color: var(--color-three-hover);
}

.input_text {
    height: 40px;
    width: 300px;
    margin: 15px;
    flex: 1;
    background-color: var(--color-five);
    color: var(--color-one);
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.titre_formulaire {
    color: var(--color-five);
}

.pagination_formulaire {
    width: 400px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: var(--color-one);
    padding: 10px;
}

.formulaire_connexion {
    margin-bottom: 10px;
    overflow: hidden;
}

.label_form {
    height: 40px;
    line-height: 40px;
    float: left;
    width: calc(30% - 5px);
    margin-right: 5px;
    box-sizing: border-box;
    color: var(--color-five);
}

.input_form {
    height: 40px;
    border-radius: 10px;
    float: right;
    width: calc(70% - 5px);
    margin-left: 5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 850px) {
    .logo {
        order: 1;
    }

    .links {
        order: 3;
    }

    .search {
        order: 2;
    }

    .menu-icon {
        display: flex;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0;
        width: 30%;
        border: solid 1px var(--color-one)
    }

    .links a {
        padding: 10px 20px;
        border-bottom: 1px solid #555;
        background-color: #e9e9e9;
    }
    .login{
        width: 70%;
    }
}
/* Styles généraux pour le slider et les vidéos */
.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Augmentation de l'espacement entre les éléments */
}

.video {
    flex-basis: calc(33.333% - 30px); /* Ajustement de la largeur en fonction du nouvel espacement */
    max-width: calc(40% - 30px);
}

.video img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Bord arrondi, si souhaité */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
}

.video {
    flex: 0 0 100%; /* Chaque vidéo prend 100% de la largeur du conteneur */
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.5s ease;
}

/* Style pour les boutons radio (à cacher) */
.video-slider input[type="radio"] {
    display: none;
}

/* Lorsqu'un bouton radio est sélectionné, affiche la vidéo correspondante */
.video-slider input[type="radio"]:nth-child(1):checked ~ .videos { transform: translateX(0%); }
.video-slider input[type="radio"]:nth-child(2):checked ~ .videos { transform: translateX(-100%); }
.video-slider input[type="radio"]:nth-child(3):checked ~ .videos { transform: translateX(-200%); }
/* Ajoutez plus de règles si vous avez plus de vidéos */


.slider-buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
}


.videos {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.video {
    flex: 0 0 auto;
    box-sizing: border-box;
}

.video h2 {
    white-space: nowrap;  /* Empêche le texte de passer à la ligne suivante */
    overflow: hidden;     /* Cache le texte qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est tronqué */
    max-width: 100%;      /* Définit une largeur maximale pour le titre */
    margin: 0 0 10px 0;   /* Ajustez les marges selon vos besoins */
}

.video h3 {
    white-space: nowrap;  /* Empêche le texte de passer à la ligne suivante */
    overflow: hidden;     /* Cache le texte qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est tronqué */
    max-width: 100%;      /* Définit une largeur maximale pour le titre */
    margin: 0 0 10px 0;   /* Ajustez les marges selon vos besoins */
}
.video-detail {
    background-color: var(--color-one);
    color: var(--color-five);
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;

    h1 {
        color: var(--color-five);
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 10px;
    }

    .video-embed {
        margin-bottom: 20px;
        margin: auto;
        width: 80%;

        video {
            border-radius: 10px; // Ajoute un bord arrondi à la vidéo
            max-width: 100%; // S'assure que la vidéo ne dépasse pas la largeur de son conteneur
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // Optionnel: Ajoute une légère ombre autour de la vidéo
            width: 100%;
        }
    }

    .video-image {
        width: 450px;
        height: auto;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .video {
        flex: 0 0 auto;
        width: 480px;
        padding: 0 10px;
    }
}

.video-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.videos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 10px; /* Ajustez l'espacement selon vos besoins */
    padding: 10px;
    flex-grow: 1;
    margin: 0 -10px; /* Compenser le padding pour éviter le défilement horizontal */
}

.video {
    flex: 0 0 auto;
    width: 499px; /* Ajustez la largeur si nécessaire */
    padding: 0 10px; /* Ajouter du padding interne pour chaque vidéo */
}

.slide-btn {
    cursor: pointer;
    background-color: var(--color-four);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--color-five);
    z-index: 10;
    &:hover {
        background-color: var(--color-four-hover);
    }
}

.left-btn {
    margin-right: 10px;
}

.right-btn {
    margin-left: 10px;
}

.video-detail {
    padding: 10px; /* Réduire le padding */
    .video-embed {
    margin-bottom: 20px;
        video {
            width: 100%; /* Les vidéos prennent toute la largeur */
            height: auto; /* Hauteur ajustée automatiquement */

        }
    }
    h1  {
        font-size: 35px; /* Taille de police réduite pour les titres */
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    p {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .video-categories a {
        padding: 10px; /* Réduire le padding des boutons */
        font-size: 20px; /* Taille de police réduite pour les boutons */
    }
}

.videos-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; /* Centre les vidéos horizontalement */
    gap: 20px; /* Espacement entre les vidéos */

}

.category_list {
    top: 0;
    left: 0;
}

.categories {
    text-align: center;
    list-style-type: none;
}
.categories>h2 {
    font-size: 35px;
}
.categories>h2>a {
    text-decoration: none;
    color :var(--color-five)
}

ul.category_list {
    padding: 0;
    margin: 0;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: var(--color-five);
    background-color: var(--color-one-hover);

    label {
        margin: 10px 0;
        font-size: 20px;
        padding: 10px;

        &.required {
            font-size: 30px;
            font-weight: bold;
        }
    }

    input[type="text"], select, textarea {
        width: 100%;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid var(--color-five);
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 27px;

        &:focus {
            outline: none;
            border-color: var(--color-two);
        }
    }

    .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;

        input[type='checkbox'] {
            margin-right: 10px;
        }

        label {
            margin: 0;
            font-size: 25px;
        }

    }
}
.alert {
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error, .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@media only screen and (max-width: 600px) {

    .video-detail {
        padding: 10px; /* Réduire le padding */
        .video-embed {
            video {
                width: 100%; /* Les vidéos prennent toute la largeur */
                height: auto; /* Hauteur ajustée automatiquement */
            }
        }
        h1, h2 {
            font-size: 18px; /* Taille de police réduite pour les titres */
        }

        h3 {
            font-size: 15px;
        }

        p {
            font-size: 12px;
        }
        .video-categories a {
            padding: 5px; /* Réduire le padding des boutons */
            font-size: 14px; /* Taille de police réduite pour les boutons */
        }
    }

    .video-detail .video-image {
        width: 260px;
    }

    .video-detail .video-embed video {
        height: 250px;
    }
    .video-detail p {
        margin-top: -5px;
    }

    .video-slider {
        /* Assurez-vous que le conteneur du slider a une largeur et un positionnement corrects */
        width: 100%;
        overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
    }

    .videos {
        /* Mettre en flexbox pour un alignement correct des éléments du slider */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px; /* Espacement entre les vidéos */
        padding: 0 5px; /* Padding réduit sur les côtés */
    }

    .video {
        /* Réglage de la largeur et du flex-grow pour que les vidéos ne se chevauchent pas */
        flex: 0 0 auto; /* Empêcher les vidéos de se rétrécir */
        width: 100%; /* Largeur pleine pour chaque vidéo */
        max-width: 300px; /* Maximum width for each video */
    }

    .video img, .video-embed video {
        /* Assurer que les images et vidéos sont pleine largeur et s'adaptent à leur conteneur */
        width: 100%;
        height: auto;
    }

    .video-detail .video-embed {
        margin-bottom: 20px;
    }
    .slide-btn {
        /* Rendre les boutons de navigation du slider plus petits et mieux positionnés */
        font-size: 12px;
        padding: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .left-btn {
        left: 0;
    }

    .right-btn {
        right: 0;
    }

    .videos-category .video {
        width: 230px;
        max-width: 100%;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 13px;
        }
    }
}
