.login {
    /*padding-top: 3%;*/
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login_label {
    text-align: left;
    font-size: 19px;
    height: 42px;
    margin-top: 50px;
    border-radius: 11px
}

div .login_label {
    width:100%;
}

a.connection {
    color: var(--color-three);
    text-decoration: none;
    padding-top: 20px;
    text-align: center;
}

.dropzone-form {
    margin-top: 50px;
}

label.required {
    display:none;
}

.autocomplete-form {
    border-radius: 10px;
}

.register{
    width: 50%;
    margin: auto;
}

.register-form {
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
}

div.ts-control {
    border-radius: 10px;
    height: 40px;
}

.dropzone-container {
    border-radius: 10px;
}
