{% if app.user %}
<div{{ attributes }}>
    <button data-action="live#action" data-action-name="toggle">
        {% if app.user.favoris.contains(this.video) %}
            Enlever des favoris
        {% else %}
            Ajouter aux favoris
        {% endif %}
    </button>
</div>
{% endif %}
